extends master 
block content 
    form(action="/" method="POST" id="add-url")
        legend Add your URL here
        .field
            input(type="url" name="urlOriginal" id="urlOriginal" placeholder="Paste a long URL and shorten it" required)
        .field.send
            input(type="submit" class="btn" value="shorten")