<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title URL Shortener
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/index.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap") 

    body
        h1 URL Shortener

        main 
            block content

        script(src="js/scripts.js")

